@import url(layout.css);

/* Media Styles */

@media (min-width: 750px) {

body {	
}
.page_content {	
	min-height: calc(100vh - 100px);
}
#masthead {
	width: auto;	
	margin-right: 10px;
	margin-left: 10px;	
}
#navigation {
	margin-right: 10px;
	margin-left: 10px;	
}
.column_l {
	width: 60%;
	height: 100%;	
	float: left;
	vertical-align: top;	
}
.column_r {
	width: 40%;
	background-color: #FFFFFF;	
	float: right;
	vertical-align: top;
}
#footer {
	height: 100px;
}
#estore {
 	width:610px;
 	margin: 0 0 0 10px;
 	padding: 0 20px 20px 20px;
}
/* Styles for Masthead */
#masthead img {
	float: left;
	
}
/* Styles for Navigation */
#navigation ul {	
	
}
#navigation li {
	float: left;
	margin-right: 5px;	
}		
#navigation a {	
	font-size: 1em;	
	display: block;	
}
/* Syles for Columns */
.column_l, .column_r p {	
	text-align: left;	
}
.column_r h4 {
	margin-bottom: 0;
}

/* Style for PDF documents */
a[href $= '.pdf'] { 
   padding-left: 20px;
   background: transparent url(../images/pdficon_small.gif) no-repeat center left;
}  
/* Style for Logo4 button */
a[name $= 'logo4'] { 
   padding-left: 20px;
   background: transparent url('../images/logo4.gif') no-repeat center left;
}

/*Styles for Accordion*/

.accordion {	
	padding:10px;
}
.accordian_p {
	margin-left: 10px;
	margin-right: 10px;
}
/* Google Map */
#map {
	height: 400px;
	width: 95% ;
	margin-top:0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left:auto;	
}
.hide-mobile {
	display: inline;	
}
/* Image Styles */
.dell-fs-logo {
	width:100%;
}
.fs-logo {
	width: 40%;
	float: left;
}
.dell-prem-logo {
	width: 60%;
	float: left;
}
.psb-box-img {
	float:left;
	margin-right: 10px;
	width: 25%;
}

} /* End Media Styles */











